/**
Site: Loja do Prazer
**/

/** RESET **/

body {
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
	-ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
	-o-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.01); /* truque para deixar o texto deixando mais leg�vel */
	-webkit-text-stroke: 1px transparent ;
	-moz-text-stroke: 1px transparent ;
	-ms-text-stroke: 1px transparent ;
	-o-text-stroke: 1px transparent ;
	text-stroke: 1px transparent;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,legend,a {margin:0; padding:0}
fieldset, fieldset-img {border:0}
address,caption,cite,code,dfn,th,var{ font-style:normal; font-weight:normal}
ol,ul,li {list-style:none}
img {border:0}
body {line-height:1.48; font-size:12px; background: #FFFFFF no-repeat center top}
p,td,th,li,div,table,span,strong,input,body {font-family:Calibri, Helvetica, sans-serif !important}
legend { text-indent:-9999px; font-size:0; color:#fff }

.osp_lancamento img {margin:0 !important; padding:0 !important}
.ini_bread {float: left;color: #FF2338;font-weight: bold;padding: 2px 10px;font-size: 14px}

#divshowcartonpage {margin-top: 0 !important; margin-left: 0 !important; left: 90px !important; top: -100px !important;}
.os_relativo {position:relative}

#idSelPathCatQtFC, #idSelAdic3QtFC, #idSelAdic2QtFC, #idSelAdic1QtFC { width:200px}

/** ESTRUTURA FC **/
#idTitPagFC, .EstEspacoEsquerdaConteudo, .EstLinhaBarraExt, .EstLinhaBarra, .EstEspacoTopoConteudo, .EstEspacoTopoMenu, .EstContinuarComprando, .EstContinuarComprando + .idTxtTrackFC, #TabCesta #idTitPagFC + p {display:none; width:0; background:none}
.fc_esquerda { width:0 !important }
/*breadcumb*/
.EstPathCat { float:left}
.EstPathCat li, .EstPathCat li a { font-size:14px; color:#000; font-weight:bold}
.EstPathCat li a:hover { text-decoration:none; color:#FF2033}
.EstPathCat li.pad img { display:none; *display:inline-block }
.EstPathCat li.pad {background:url(../images/os_barra.png) no-repeat center center; margin:0 !important; padding:0 14px;}
.os_f_separa {background:url(../images/layout/os_f_separa.gif) repeat-x left center; height:15px; width:auto}
.cont_bread { float:left; font-size:16px; color:#FF2033; padding:3px}
.cont_bread img { margin:0 !important; padding:0 !important; border:none;}
.cont_bread span { margin:0 !important; padding:0 !important;line-height:12px; font-size:16px; color:#8B8B8B; font-weight:bold}

.cont_bread a { line-height:12px; font-size:14px; color:#8B8B8B; font-weight:bold}
.cont_bread a:hover { text-decoration:none; color:#FF2033}


.sem_hifen { float:left; font-size:16px; color:#FF2033; padding:4px}
.sem_hifen img { margin:0 !important; padding:0 !important; border:none;}
.sem_hifen span { margin:0 !important; padding:0 !important;line-height:12px; font-size:16px; color:#8B8B8B; font-weight:none}

.sem_hifen a { line-height:12px; font-size:16px; color:#8B8B8B; font-weight:none; text-decoration:none;}
.sem_hifen a:hover { text-decoration:none; color:#8B8B8B}

/*busca avanÃƒÆ’Ã‚Â§ada*/
.EstCorTabExt { margin:0 auto; padding:15px; background:#fff; border:1px solid eee }
.EstNomeCampo, .EstCorTabInt td { padding:4px; font-size:13px !important; color:#333 }
.BotBuscaAvancada { background:#73930C; border:none; font-size:20px; font-weight:bold; color:#fff; border-radius:4px; padding:8px 25px; cursor:pointer }
.smSelect { padding:0 !important}
#idTxtTopoConfirmarFC { font-size: 40px;padding:5px; background: #99bd1b; border-radius: 5px; color:#fff; display:block;text-align:center}
#idTxtCorreiosFC a, #idTxtCorreiosFC { color:#fff}
#idTxtPedConfirmadoFC {color:#99bd1b;font-size:20px; font-weight:bold}
.idTxtPrintFC, .idTxtPrintFC a {font-size:16px !important}


/** ESTRUTURA OS **/
#TabExterna, #TabRodapeExterno, #TabInterna {text-align:center/*IE*/}
.os_rodape, .os_topo {width:950px; margin:0 auto; text-align:left; position:relative}
#TabExterna, .os_topo {z-index:40; background:#FEE4E7 url(../images/layout/os_bg.png) repeat-x} 
#TabInterna {width:950px; text-align:center; background:#fff; margin:0 auto; padding-bottom:36px; z-index:10}
.TabSite { width:950px; text-align:left; background:#fff}
.os_rodape { height:720px }
##TabRodapeExterno {background:url(../images/layout/os_bgRodape.png) repeat-x; background-position: 0px 278px;}
.os_rodape { background:none}

/* Modelos  */
.row1_1 { width:950px; position:relative; float:none; clear:both;}
/* duas colunas modelo 1 */
.row2_1 { width:250px; position:relative; float:left; margin-left:10px }
.row2_2 { width:672px; position:relative; float:right; margin-right:10px }
/* duas colunas modelo 2 */
.row3_1 { width:450px; position:relative; float:left; margin-left:10px }
.row3_1_5 { width:445px; float:right; margin-right:20px }
.row3_2 { width:445px; float:right; margin-right:10px }

/** COMMON **/
.clear { clear:both }
.Titulos { font-size:14px; font-weight:bold; color:#FF23AA; line-height:22px; text-transform:uppercase }

/** TOPO **/
.os_tBar, .os_tCategorias, .os_tNbarra, .os_tInformacoes, .os_tPromocoes, .os_tMarcas { position:relative; width:auto; text-align:left; clear:both; float:none}
.os_tBar, .os_tCategorias { background-image:url(../images/layout/spriteTopo.png); background-repeat:no-repeat}
.os_tBar { height:132px; background-position:0 0; z-index:50}
.os_tCategorias {height:44px; background-position:0 -132px; z-index:40}
.os_tNbarra { height:32px; z-index:35; *background:url(../images/layout/bg_nBarra.png) no-repeat top right;margin-bottom:10px;}
.os_tInformacoes {height:63px; z-index:30; overflow:hidden}
#bannerhome, #marcahome {background-color:#FEFEFE}
.os_tPromocoes {height:250px; z-index:20;border-bottom: 3px solid #FEE4E7}
.os_tMarcas {height:75px; border-top:3px solid #FFE5E8; border-bottom:3px solid #FFE5E8; z-index:10}
.os_tBar h1, .os_tBusca, .os_tAvancada, .os_tBanner1, .os_tCesta { position:absolute }
/*Logo*/
.os_tBar h1 {width:254px; height:90px; left:15px; top:13px; text-indent:-9999px; background:none}
.os_tBar h1 a {width:254px; height:90px; display:block; font-size:0; color:#fff; text-decoration:none}
/*Busca*/
.os_tBusca {width:393px; height:30px; left:271px; top:84px}
.os_bCampo {float:left; color:#666; border:none; background:#fff; font-size:16px; width:342px; padding:4px 2px; font-weight:bold}
.os_bBotao {float:right; height:28px; border:none; width:39px; margin:0; padding:0; background: url(../images/layout/spriteTopo.png) no-repeat -625px -84px; cursor:pointer}
/*Busca Avancada*/
.os_tAvancada {width:110px; height:20px; left:677px; top:93px}
.os_tAvancada a {color:#717171; font-size:13px}
.os_tAvancada a:hover { color:#FE2337}
/*Banner 1*/
.os_tBanner1 {margin: 0; padding: 0;width:757px; height:43px; left:214px; top:9px;}
.os_tBanner1 a{margin: 0; padding: 0; float: left}


/*Cesta*/
.os_tCesta {width:105px; height:52px; right:22px; top:67px; line-height:18px; text-align:center; font-size:13px; font-weight:bold} 
.os_tCesta a {text-decoration:none; float:right }
.os_tCesta .os_itens {color:#517400; text-shadow:1px 1px 1px #B2CA6A}
#ValorItensCesta {color:#fff; text-shadow:1px 1px 1px #5D8200; font-size:14px}
/*nova barra*/
.os_tMenuPromo { position:absolute; width:821px; height:32px; left:40px; top:0}
1.os_tMenuPromo a, .os_tMenuPromo img { float:left}
.os_tBannerSeguro { position:absolute; width:185px; height:47px; right:0; top:6px}
/*infromacoes*/
.fc_Banner1 { float:left; width:690px; height:43px; margin-top:5px}
/*Categorias*/
.os_navCat {width:950px; height:44px; position:relative; z-index:40}
.os_navCat li.pai { overflow:hidden}
.os_navCat li.mega-hover { overflow:visible !important}
.os_navCat ul li.pai {float:left; padding:0 1px 0 0; background:#FE2337 url(../images/layout/os_bgtCat.png) no-repeat right center; height:44px}
.os_navCat ul li.pai a.pai {display:block; text-decoration:none; font-size:10px; font-family: "open_sanssemibold"; text-transform:uppercase; color:#fff; padding:13px 8px 10px 8px; background: url(../images/seta.png) no-repeat center bottom}
.os_navCat ul li.paiCat {float:right; padding:0; height:44px; width:170px }
.os_navCat ul li.paiCat a.paiCat {display:block; font-size:0; text-indent:-9990px; color:#fff; background: none !important; width:170px; height:44px }
.os_navCat ul li.paiCat a:hover { background:none !important }
.os_navCat ul.mega-menu ul, .mega-menu ul li {list-style: none;}
.os_navCat ul.mega-menu ul {position: relative; padding: 0; margin: 0; z-index:40}
.os_navCat ul.mega-menu ul li ul {display: none}
.os_navCat ul.mega-menu .sub {display: none}
.os_navCat ul.mega-menu .sub ul {display: block}
.os_navCat ul.mega-menu li a.dc-mega {position: relative; z-index:40}
.os_navCat ul.mega-menu li a .dc-mega-icon {display: none}
.os_navCat ul.mega-menu li.mega-hover a, .grey ul.mega-menu li a:hover {background:#A60105}
.os_navCat ul.mega-menu li .sub-container { position:absolute; margin-left:0 !important; z-index:100}
/*Regras*/
.paiCat .mega-unit { width:208px !important}
.regra + .mega { left:0 !important; right:auto !important }
.regra2 + .mega { left:auto !important; right:0 !important }
.regra3 + .mega { left:300px !important; right:auto !important }
.regra4 .sub-container {*left:auto !important; *right:0 !important }
.os_navCat ul.mega-menu li .sub {background:#A60105; border-radius:0 4px 4px 4px; box-shadow:4px 4px 1px #000; z-index:100}
.os_navCat ul.mega-menu li .sub .row {width:100%; overflow: hidden; clear: both}
.os_navCat ul.mega-menu li .sub li {list-style: none; float: none; width: 170px}
.os_navCat ul.mega-menu li .sub li.mega-hdr {margin:15px; float:left}
.os_navCat ul.mega-menu li .sub li.mega-hdr a { color:#fff; color:#fff; display:block; padding:5px 0 5px 15px; font-size:12px; font-family:"open_sanssemibold"; *text-transform:uppercase }
.os_navCat ul.mega-menu li .sub li.mega-hdr a:hover {color: #4A0002; *text-decoration:none; *text-shadow: 1px 1px 0 #D77981}
.os_navCat ul.mega-menu li .sub li.mega-hdr li.seta a { color:#fff; display:block; padding:5px 0 5px 15px; font-size:11px; font-family:"open_sanssemibold"; background:url(../images/layout/setamega.png) no-repeat left center; *text-transform:uppercase; text-decoration: none }
.os_navCat ul.mega-menu li .sub li.mega-hdr li.seta a:hover {color: #fff; text-decoration:underline; *text-shadow: 1px 1px 0 #D77981}
.os_btCat {width:190px; height:44px; float:right}
.os_il1 { position:absolute; width:19px; right:-19px; top:0; height:44px; background: url(../images/layout/spriteTopo.png) no-repeat -160px -254px}
.dpromolanc { color:#FFFF00 !important}
/*Banner Promocoes*/
.pics {height:250px; width:950px; overflow:hidden; z-index:20}
.pics img {height:250px; width:950px}
#nav {position:absolute; bottom:8px; right:8px; z-index:99}
#nav a {margin: 0 2px; width:20px; height:20px; display:block; text-indent:-9999px; font-size:0; color:#fff; text-decoration:none; float:left; background:url(../images/layout/spriteTopo.png) no-repeat 0 -258px}
#nav a.activeSlide {background:url(../images/layout/spriteTopo.png) no-repeat -40px -258px}
/*marcas*/
.zFMarcasDestaque{color:#fa143b}
#os_marcas { width:900px; height:75px; margin-left:25px; overflow:hidden}
#os_marcas a {width:100px; height:75px; float:left; display:block}
#os_marcas img { position:relative; float:left}
1#os_marcas span a > img {opacity:0.60; filter:alpha(opacity=60) }
1#os_marcas span a:hover > img { opacity:1.0; filter:alpha(opacity=100) }
.next_marca, .prev_marca { position:absolute; height:75px !important; width:25px !important; background-image:url(../images/layout/spriteTopo.png); background-repeat:no-repeat; top:0}
.prev_marca { background-position:-708px -250px; left:0 }
.next_marca { background-position:-743px -250px; right:0 }
.prev_marca:hover { background-position:-778px -250px; left:0 }
.next_marca:hover { background-position:-813px -250px; right:0 }

[class^="fc-icon-"],[class*=" fc-icon-"] {
    display:inline-block;
    width:100px;height:75px;
		background-image: url("../images/car_icons.jpg");
    background-repeat:no-repeat;
}

a.fc-icon-baci { background-position: 0 0 } 
a.fc-icon-bathmate { background-position: -102px 0 }
a.fc-icon-blush { background-position: -202px 0 }
a.fc-icon-bswish { background-position: -302px 0 }
a.fc-icon-espiral { background-position: -402px 0 }
a.fc-icon-evolved { background-position: -502px 0 }
a.fc-icon-gvibe { background-position: -602px 0 }
a.fc-icon-gworld { background-position: -702px 0 }
a.fc-icon-hottproducts { background-position: 0 -74px }
a.fc-icon-impulse { background-position: -302px -74px }
a.fc-icon-kamashastra { background-position: -402px -74px }
a.fc-icon-magicsilk { background-position: -602px -74px }
a.fc-icon-nasstoys { background-position: -702px -74px }
a.fc-icon-perfectfit { background-position: -802px -74px }
a.fc-icon-pipedream { background-position: 0 -148px }
a.fc-icon-sqweel { background-position: -102px -148px }
a.fc-icon-thescreamingo { background-position: -202px -148px }
a.fc-icon-topcosales { background-position: -302px -148px }
a.fc-icon-wakeupvibe { background-position: -402px -148px }
a.fc-icon-wevibe { background-position: -502px -148px }
a.fc-icon-willaboo { background-position: -602px -148px }
a.fc-icon-sexyfantasy { background-position: -702px -148px }
a.fc-icon-pinklipstick { background-position: -806px -140px }
a.fc-icon-rene { background-position: -918px 0 }
a.fc-icon-dreams { background-position: -918px -75px }
a.fc-icon-ultra { background-position: -918px -151px }
a.fc-icon-zolo { background-position: -1024px 0px }
a.fc-icon-fiftyshadesgrey { background-position: -1024px -74px }
a.fc-icon-rocksoff { background-position: -1024px -150px }
a.fc-icon-fantasylingerie { background-position: -1123px 0px }
a.fc-icon-adrienlastic  { background-position: -1123px -74px }
a.fc-icon-durex  { background-position: -1123px -149px }
a.fc-icon-relaxintimate  { background-position: -1224px 0px }
a.fc-icon-kayovalentin  { background-position: -1223px -74px }

a:hover.fc-icon-baci { background-position: 0 -225px }
a:hover.fc-icon-bathmate { background-position: -102px -225px }
a:hover.fc-icon-blush { background-position: -202px -225px }
a:hover.fc-icon-bswish { background-position: -302px -225px }
a:hover.fc-icon-espiral { background-position: -402px -225px }
a:hover.fc-icon-evolved { background-position: -502px -225px }
a:hover.fc-icon-gvibe { background-position: -602px -225px }
a:hover.fc-icon-gworld { background-position: -702px -225px }
a:hover.fc-icon-hottproducts { background-position: 0 -299px }
a:hover.fc-icon-impulse { background-position: -302px -299px }
a:hover.fc-icon-kamashastra { background-position: -402px -299px }
a:hover.fc-icon-magicsilk { background-position: -602px -299px }
a:hover.fc-icon-nasstoys { background-position: -702px -299px }
a:hover.fc-icon-perfectfit { background-position: -802px -299px }
a:hover.fc-icon-pipedream { background-position: 0 -373px }
a:hover.fc-icon-sqweel { background-position: -102px -373px }
a:hover.fc-icon-thescreamingo { background-position: -202px -373px }
a:hover.fc-icon-topcosales { background-position: -302px -373px }
a:hover.fc-icon-wakeupvibe { background-position: -402px -373px }
a:hover.fc-icon-wevibe { background-position: -502px -373px }
a:hover.fc-icon-willaboo { background-position: -602px -373px }
a:hover.fc-icon-sexyfantasy { background-position: -702px -373px }
a:hover.fc-icon-pinklipstick { background-position: -806px -360px }
a:hover.fc-icon-rene { background-position: -918px -225px }
a:hover.fc-icon-dreams { background-position: -918px -299px }
a:hover.fc-icon-ultra { background-position: -918px -370px }
a:hover.fc-icon-zolo { background-position: -1024px -225px }
a:hover.fc-icon-fiftyshadesgrey { background-position: -1024px -299px }
a:hover.fc-icon-rocksoff { background-position: -1024px -375px }
a:hover.fc-icon-fantasylingerie { background-position: -1123px -225px }
a:hover.fc-icon-adrienlastic { background-position: -1123px -299px }
a:hover.fc-icon-durex { background-position: -1123px -374px }
a:hover.fc-icon-relaxintimate { background-position: -1224px -225px }
a:hover.fc-icon-kayovalentin { background-position: -1223px -299px }

/*** ESQUERDA ***/
/* newsletter */
.os_eNewsletter {width:250px; height:260px; border-radius:8px; background:#FE2337; position:relative; overflow:hidden}
#news_ {margin:5px;}

/* entrega */
.os_eBanner {width:250px; height:118px; margin:0}
/* entrega */
.os_pedidosBanner {width:250px; height:118px; margin:17px 0 0 0}
/* navegacao preco */
.os_ePreco {width:250px; height:142px; border-radius:8px; background:#F8F8F8; position:relative}
.os_ePreco h2 { padding:20px 0 14px 20px; color:#686868; font-size:16px; text-transform:uppercase; font-weight:bold}
.os_ePreco ul { width:204px; height:84px; overflow:hidden; margin:0 0 0 20px}
.os_ePreco ul li { padding:0 0 3px 0}
.os_ePreco ul li a { color:#FF5669; font-size:13px; font-weight:bold}
.os_ePreco ul li a:hover { color:#FE2337; text-decoration:none}
/* navegacao departamentos */
.os_eDepartamentos {width:250px; border-radius:8px; background:#F8F8F8; padding-bottom:20px; position:relative; margin:18px 0 0 0}
.os_eDepartamentos h2 {padding:40px 0 14px 20px; color:#686868; font-size:16px; text-transform:uppercase; font-weight:bold}
.os_eDepartamentos ul li a, .os_grpFiltro ul li { display:block; padding:2px 0 2px 17px; clear:both; float:none;  font-size:13px; font-weight:bold; margin-left:22px; text-decoration:underline; color:#8C8C8C; background:url(../images/layout/spriteTopo.png) no-repeat 0 -304px; text-transform:uppercase }
.os_eDepartamentos ul li ul li, .os_eDepartamentos ul li ul li a {padding: 1px 0 0 8px !important;font-weight: normal !important;text-transform: none !important; background:none !important}
.os_eDepartamentos ul li ul li.last { margin-bottom:10px}
.os_eDepartamentos ul li a:hover, .os_grpFiltro ul li a:hover { color:#FD2437; text-decoration:none}
.os_grpFiltro ul li { color:#333 !important; text-decoration:none !important }
.os_grpFiltro ul li a {color:#8C8C8C; font-size:13px; text-decoration:underline }
/* filtro */
.os_filtrado a { color:#FF283A !important}
.os_filtrado a:hover { color:#333 !important}
.os_filtro {width:250px; background:#F8F8F8; position:relative; padding-bottom:10px; margin-bottom:10px}
.os_filtro h2 {padding:20px 0 5px 20px; color:#999; font-size:16px;  font-weight:bold}
.filtroCat { font-size:13px; color:#999 }
.os_filtro h3 { padding:20px 0 10px 20px; color:#686868; font-size:16px; text-transform:uppercase; font-weight:bold }
.os_buscaDetalhada {width:250px; background:#F8F8F8; position:relative; padding-bottom:10px; background:#E5E5E5; margin-bottom:10px}
.os_buscaDetalhada h2 { padding:20px 0 14px 20px; color:#686868; font-size:16px; text-transform:uppercase; font-weight:bold; text-shadow:1px 1px 1px #fff}
.bdet_legenda { display:block; margin-bottom:10px}
.bdet_legenda label { display:block; margin-bottom:5px; color:#808080; font-weight:bold}
.bdet_txt {border:1px solid #C5C3C4; padding:3px; color:#9D9D9D; font-size:13px; font-weight:bold}
.bdet { margin-left:20px}
.bdet .os_bt { border:none; width:139px; height:42px; font-size:0; color:#73930C; background:url(../images/layout/btDetalhar.jpg) no-repeat; cursor:pointer}
/* subcategorias */

/*** CONTENT ***/
/* home */
ul.tabs {height:40px; width: 672px; overflow:hidden}
ul.tabs li {float:left;margin:0; position: relative; height:40px; width:150px; overflow:hidden }
ul.tabs li a {text-decoration:none; border-radius:4px 4px 0 0; color:#B1B1B1; display:block; background:#EDEDED url(../images/layout/bgAba.png) repeat-y; font-size: 16px; width:150px; height:40px; line-height:40px; margin-top:5px; text-align:center; font-weight:bold; outline:none; text-transform:uppercase; text-shadow:1px 1px 1px #fff}
html ul.tabs li.active a, html ul.tabs li a:hover, html ul.tabs li.active, html ul.tabs li.active a:hover, ul.tabs li a:hover { color:#FD3444; margin:0; font-size:17px }
.tab_container {overflow:hidden;clear: both;float:left; width:672px; height:1633px; margin-bottom:10px; border:1px solid #D8D8D8}

/* prateleiras */
.os_hProd {float:left; width:206px; height:310px; overflow:hidden; margin:12px 0 0 12px; text-align:center; border:1px solid #D8D8D8}
.os_hProd:hover {box-shadow: 0 0 12px #666} 
.os_hProd img.EstImgFC {height:151px; margin-top:15px; clear:both; float:none}
.os_hProd h3.name {margin-top:11px}
.os_hProd h3.name a { text-decoration:none; font-size:13px; color:#4B4D4C; font-weight: 300}
.os_hProd div.price {margin-top:3px; font-size:16px; color:#FE0431; font-weight:bold}
.os_hProd div.parcela {margin-top:3px; font-size:13px; color:#666}
.os_hProd div.parcela b {margin-top:3px; font-size:14px; color:#333; font-weight:bold}
.os_hProd div.category {margin-top:3px; color:#4B4D4C}
.os_hProd div.category a {font-size:12px; color:#FE0431; text-decoration:underline}
.os_hProd div.category a:hover {color:#809C2B}

.os_diario { width:160px; text-align:center }
.os_diario .d_titulo { color:#710002; font-size:16px; font-weight:bold; text-shadow:1px 1px 1px #D77981}
.os_diario .d_foto { background:#fff; border-radius:4px; width:160px; text-align:center; padding:2px 0; margin:10px 0 10px 0 }
.os_diario img.EstImgFC {height:145px }
.os_diario a { padding:0 !important; background:none !important; text-transform:none !important; text-align:center}

/* categorias */
.os_cbLista { padding:10px; border-bottom:1px solid #D8D8D8; height:14px; background:#e6e6e6}
.os_bradcumb { width:350px; float:left;}
.os_ordena { width:140px; float:right; text-align:right}

/* PRODUTO */
/* ampliaÃƒÆ’Ã‚Â§ÃƒÆ’Ã‚Â£o zoom 2 */
#container_image { width:450px; height:450px; position:absolute; overflow:hidden; top:0; border:1px solid #ccc; z-index:999999; background:#fff }
.mzoom {left:455px; z-index:999999 !important}
.ezoom { left:-2000px; z-index:0 !important; border:none !important; background:none !important}
.bgZoom {background-color: rgb(119, 119, 119); opacity: 0.7; cursor: pointer; height: 1771px}
img#imageos { position:absolute; z-index:999999 !important } 
img#thumbos {width:450px; cursor:url(../images/layout/cursorZOOM.gif),crosshair; z-index:2; position:relative; left:0; border:1px solid #E2E2E2 }
.bgFoto { z-index:2000 !important}

.os_imgDetalhes { width:450px; position:relative}
/* AmpliaÃƒÆ’Ã‚Â§ÃƒÆ’Ã‚Â£o lightbox */
.os_BtAmpliar { text-align:center; margin-top:20px; height:30px }
.os_BtAmpliar .b_passemouse { float:left; font-size:12px; color:#555; width:239px; line-height:30px }
.os_BtAmpliar .b_lightbox { float:left; width:60px }
.os_BtAmpliar .b_hd { float:right; width:140px}
.b_hd a { display:block; font-size:0; color:#fff; text-indent:-99999px; width:140px; height:30px; background:#fff url(../images/layout/fotohd.png) no-repeat }
/*dados*/
.osp_name { color:#000; font-size:21px}
.osp_referencia { color:#000; font-size: 21px; padding:2px 0 16px 0; border-bottom:1px dashed #A0A0A0}


.osp_price { font-size:14px; color:#717171; padding:15px 0 0 0;margin-top: -30px}

.osp_price b {font-size:17px; color:#333 }

1.osp_price b { font-size:30px; color:#FE2339; font-weight:normal; }
1.osp_economia { font-size:13px; color:#9FCB04; padding:10px 0 10px 0}
.osp_economia { font-size:15px; color:#666; padding:10px 0 15px 0}
.osp_economia br { display:none}

1.osp_parcela b {font-size:17px; color:#333}
.osp_parcela b {font-size:30px; color:#0b24fb; font-weight:bold;}

/* Variacao de fotos */
.os_Miniaturas {height:1px; overflow:hidden}
.os_Miniaturas img {width:68px; height:68px; margin:4px 1px; border:1px solid #E2E2E2; cursor:pointer}
/* Grid de produtos */
.os_GradeComprar {padding:0; margin:34px 0 0 0}
#t0, #t1 {width:440px}
.etapaum { background:#fff url(../images/layout/etapa1.png) no-repeat left center }
.etapadois { background:#fff url(../images/layout/etapa2.png) no-repeat left center }
.etapatres { background:#fff url(../images/layout/etapa3.png) no-repeat left center }
.NivelOn {color:#9A9A9A; display:table; margin:0 0 6px 0; padding:2px 6px 6px 6px; padding-left:50px }
.NivelOff {color:#9A9A9A; display:table; margin:0 0 6px 0; padding:2px 6px 6px 6px; padding-left:50px }
.estOpcaotrue {color:#333333}
.estOpcaofalse {color:#AAAAAA}
.BotComprarGrid {background:url('../images/BotGridSelecione.png') no-repeat; cursor:pointer; width:288px; height:82px; border:none}
ul.lstColor {float:center; display:inline; zoom:1; overflow:hidden; margin: 0 0 0 0}
ul.lstColor li {float:left; display:inline; height:auto; padding:4px; margin-left:4px}
.FC_Opcao {cursor:pointer; font-size:14px; background-repeat:no-repeat !important}
.titGride {font-size:13px; color:#9A9A9A; margin: 7px 0; display:block}
.gradeComprar { width:390px; color:#666; margin:0 0 15px 0; padding:6px 6px 6px 50px}
.gradeComprarDados { width:440px; height:90px; position:absolute; z-index:2; display: block; cursor:pointer }
#alerta { width:390px; border-radius:4px; background:#000 url(../images/layout/alerta.gif); font-size:13px; color:#fff; text-align:center; font-weight:bold; display:none; font-family:Arial, Helvetica, sans-serif; padding:10px 0 }
.os_radio {position:absolute; margin-left:-999999px }
label.FC_Opcao, label.estOpcaotrue, label.estOpcaofalse { display:block; margin:2px; float:left; border:3px solid #ccc; background:#fff; font-size:15px; font-weight:bold; text-align:center; cursor:pointer }
label.estOpcaofalse {cursor:auto; background: url(../images/layout/gradevaziu.gif) no-repeat top left !important}
label.FC_Opcao:hover, label.estOpcaotrue:hover { border:3px solid #ccc; }
.gradeComprar span { font-family:Arial, Helvetica, sans-serif; color:#000 !important; font-size:12px; font-weight:bold }
/*dados extras*/
.os_redes { padding:8px 0 }
.os_extras { padding:8px 0; font-size:13px; color:#666666; border-bottom:1px solid #e2e2e2 }
.AdicNome, .AdicItem { color:#666; font-size:13px}
.AdicNome { font-weight:bold}
.os_extras a {font-size:13px; color:#666666 }
/*cross selling*/
.EstPrecoProdCross { color:#FE2337; font-size:14px; font-weight:bold}
#idTabCrossFC .AdicItem { font-size:13px; color:#333 }
#idTabCrossFC .AdicItem a { text-decoration:none}
/*descricao*/
.descricaoHtm, .descricaoHtm p { font-size:13px; line-height:17px; color:#333; padding: 8px}
.descricaoHtm p.acressimo { color:#666; padding:3px 0  }
.descricaoHtm p.acressimo a {color:#666; text-decoration:underline}
.descricaoHtm p.acressimo a:hover { color:#000; text-decoration:none}
.descricaoHtm h2 { font-size:14px; font-weight:bold; color:#333 }
.descricaoHtm ul, .descricaoHtm ul li { clear:both; float:none; list-style:inside;margin:0;padding:0 }
.descricaoHtm ol, .descricaoHtm ol li { clear:both; float:none; list-style:inside decimal;margin:0;padding:0 }

/* custom */

/* contato */

/* busca avancada */

.tit_tab {color: #FD3444; font-size: 17px; border-radius: 4px 4px 0 0; display: block; background: #EDEDED url(../images/layout/bgAba.png) repeat-y; height: 40px; line-height: 40px; font-weight: bold; outline: none; text-transform: uppercase; text-shadow: 1px 1px 1px white; width: 930px !important; margin: 0 10px !important; border-top: 1px solid #d8d8d8; border-left: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8;}


/*** DIREITA ***/
.FundoBarraDireita  {width:0 !important; background:#fff}

/*** RODAPE ***/
.os_Historico { position:relative; background:#fff; border-bottom: 3px solid #FFE5E8; height:274px; overflow:hidden }
.os_semHistorico { position:relative; top:15px; background:#fff; border-bottom: 3px solid #FFE5E8; height:274px; overflow:hidden }
.no_history { position:relative; padding:0px 0px 0px 4px;height:24px;background:#FF283A;}
.no_history_text { position:relative; top:4px;color:#ffffff;font-size:13px;font-family:arial;font-weight:bold;}
.conheca_produtos { position:relative; padding:10px 4px 4px 4px;}
.os_rAjuda, .os_rSelos, .os_rNav {position:relative; width:auto; text-align:left; overflow:hidden}
.os_rAjuda {margin-top:3px; width:950px; overflow:hidden; height:75px }
.os_rAjuda ul {width:950px; height:75px }
.os_rAjuda ul li {float:left; height:75px; padding:0 1px 0 0;background:#F7F7F7 url(../images/layout/os_bgrAjuda.png) no-repeat right center}
.os_rAjuda ul li.last {background:#F7F7F7!important}
.os_rAjuda ul li a {display:block; text-decoration:none; font-size:18px; text-shadow:1px 1px 1px #fff; text-transform:uppercase; color:#686868; padding:28px 10px}
.os_rAjuda ul li a:hover {background:#D6D6D6}
.os_rSelos {height:117px}
.os_rSelos div h4 {padding:14px 5px 14px 0; background:#E6E6E6; font-size:14px; text-transform:uppercase; text-shadow:1px 1px 1px #fff; color:#666}
.os_rsPagamento, .os_rsTelefone {background:#E6E6E6 url(../images/layout/os_bgrSelos.png) repeat-x; margin-top:7px; height:95px; overflow:hidden}
.os_rsPagamento {width:627px; float:left; margin-left:16px}
.os_rsTelefone {width:228px; float:right}
.os_rNav {height:320px}
.os_rNav div h4 {font-size:17px; text-shadow:1px 1px 1px #fff; color:#686868; margin:20px 0 10px 0}
.os_rNav div ul li a { padding:2px 0 2px 12px; color:#696969; text-decoration:none; font-size:14px; background:url(../images/layout/spriteTopo.png) no-repeat 0 -304px}
.os_rNav div ul li a:hover {background:url(../images/layout/spriteTopo.png) no-repeat 0 -325px; color:#FF283A}
.os_rNav_c1 { float:left; width:266px}
.os_rNav_c2 { float:left; width:200px;}
.os_rNav_c3 { float:right; width:464px; margin-top: 18px}
.os_rNav_c4 { float:right; width:460px; margin-top: 4px;}
.os_rInfo { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333; clear:both; float:none; height:25px; padding-top:2px}

/*** CHECKOUT ***/
/*carrinho de compras*/
.EstPassosCompra { text-align:right !important}
#TabItens { margin:0 auto}
#TabItens td {background:#F7F7F7}
.os_btesp1 {float:left; width:227px; height:80px; padding:12px 0}
.os_btesp3 {float:right; width:295px; height:80px; padding:12px 0}
.EstTabPedidoTit {color: #fff; font-size:14px; font-weight:bold; background:#FE2337 !important; }
.EstTabPedidoNum, .EstTabPedidoTotal {font-size:14px; background:#F7F7F7; font-weight:bold; color:#616161; padding:3px}
.EstTabPedidoTotal { background:#F7F7F7}
.EstTabPedido {font-size:14px; background:#F7F7F7; font-weight:bold}
#idTxtCupomFC {display: block;line-height: 22px}
.EstTabPedidoAdicItem, .EstTabPedidoAdicNome, .EstTabPedidoRef, .EstTabPedidoBot {color:#616161;font-size:13px}
a.EstTabPedidoNome { color:#FE2337; display:block; font-weight:bold; font-size:13px; padding:4px 0}
.EstTabPedidoAdicItem {font-weight:bold}
.EstTabPedidoRef { margin-left:-10px}
#idCupomFC .EstTabPedidoTotal { font-size:13px !important}
/*frete*/
.os_frete p { margin-bottom:16px; line-height:18px }
.os_frete em a { color:#FE2337}

/*pagamento*/
#TabRadio { margin:0 auto}
/* #TabRadio .smtext, #TabRadio .EstTabPedidoTit { display:none}*/
#TabRadio .EstTabPedido { text-align:left !important; padding:5px}





.os_pagamento p {font-size:12px; color:#636363; line-height:18px}
.ptit { color:#FE2337; font-size:25px; font-weight:bold}
/*Registro*/
#idRegisterFC { margin:0 auto }
#idRegisterFC .EstTabTopo { text-align:left !important; background:#F7F7F7; font-size:25px; font-weight:bold; color:#FE2337; border-bottom:6px solid #fff}
#idCommentsConfirmation { text-align:left!important }
#idCommentsConfirmation .os_coment { color:#666; font-weight:normal !important}
#idCommentsConfirmation .os_coment2 { color:#999; font-size:13px; line-height:22px}
#idTxtComentsFC { display:none}
#idTabRegisterFC .smText { text-align:left !important }
#idTabRegisterFC #P2Mensagem { width:514px }
#idTxtCPFFC { display:none}
.os_cadastroi, .t { width:920px; margin-left:15px; padding:0 0 20px 0; font-size:13px; color:#333 }
.os_cadastroi img, .t img  { padding-top:15px }
.os_cadastroi a, .t a { color:#FE2337}
#idTabRegisterFC .InputButton { float:left; font-size:0; color:#939393;  width:102px; height:30px;  background:url(../images/layout/btRegistro.png) no-repeat; padding:0; margin:0; border:none }
#idTxtTopoConfirmarFC a { color: white;}
/*Botoes setas*/
#idTabBotPreviousNextFC {background:#F7F7F7 !important; border-top:6px solid #fff !important; width:100% !important}
#idImgBotNextPageFC, #idImgBotPreviousPageFC {display:none}
#idPreviousPageFC { text-align:left !important; background:#F7F7F7 !important;}
#idNextPageFC { text-align:right !important; background:#F7F7F7 !important;}
#idNextPageFC a, #idPreviousPageFC a { text-indent:-9999px; display:block; font-size:0; text-decoration:none; height:32px; color:#F7F7F7 !important}
#idNextPageFC a { width:169px; background:url(../images/layout/btMais.png) no-repeat; margin-right:15px; float:right }
.BotContinuarConfirmacao {width:282px; background:url(../images/layout/btMais.png) no-repeat; display:block; font-size:0; text-decoration:none; height:109px; color:#729107 !important; border:none}
#idPreviousPageFC a { width:169px; background:url(../images/layout/btMenos.png) no-repeat; margin-left:15px; float:left }
.n_selo_c { position:absolute; width:210px; height:50px; top:70px; right:120px}
.n_selo_c2 { position:absolute; width:90px; height:50px; top:65px; right:20px}
.apos_load { overflow:visible !important}

#idPaginationProdFC {height:0px;padding:0px 0px 0px 0px}
#idPaginationProdFC .smtext a{color:#525b6a;padding:8px 3px 8px 3px;margin:0px 0px;text-decoration:none;border:2px solid #f0f0f0;font-weight:bold;}
#idPaginationProdFC .smtext a:hover{padding:8px 3px 8px 3px;margin:0px 0px;text-decoration:underline;border:2px solid #fa143b;color:#fa143b;font-weight:bold;}
#idPaginationProdFC #idCurrentPageFC {padding:8px 3px 8px 3px;border:2px solid #b1102b;color:#fff;font-weight:bold;background-color:#fa143b;font-size:14px;}

.footer-texto { background:#d6d6d6; padding:0px; color:#333; }
.footer-texto h1 { font-size:12px; }
.footer-texto h2 { font-size:11px; }
.footer-texto h2 a { color:#F00; }


.ShowCEP{border-bottom: 1px solid #E2E2E2; padding-bottom: 15px}


#TabRodapeExterno {background:url(../images/layout/os_bgRodape.png) repeat-x; background-position: 0px 379px;}

.fc_hProd {float:left; width:206px; height:320px; overflow:hidden; margin:12px 0 0 12px; text-align:center; border:1px solid #D8D8D8}
.fc_hProd:hover {box-shadow: 0 0 12px #666} 
.fc_hProd img.EstImgFC {width:100px;height:150px; margin-top:15px; clear:both; float:none}
.fc_hProd h3.name {margin-top:11px; height: 40px}
.fc_hProd h3.name a { text-decoration:none; font-size:13px; color:#4B4D4C; font-weight: 300}
.fc_hProd div.price {margin-top:3px; font-size:16px; color:#FE0431; font-weight:bold}
.fc_hProd div.parcela {margin-top:3px; font-size:13px; color:#666; height: 30px}
.fc_hProd div.parcela b {margin-top:3px; font-size:14px; color:#333; font-weight:bold}
.fc_hProd div.category {margin-top:3px; color:#4B4D4C}
.fc_hProd div.category a {font-size:12px; color:#FE0431; text-decoration:underline}
.fc_hProd div.category a:hover {color:#809C2B}
.fc_verMais a{text-decoration: none; color: #686868; font-weight: bold; margin-top: 4px; }
.fc_verMais_lista a{text-decoration: none; color: #686868; font-weight: bold; float: left; margin: 4px 0 0 34px; }

#fc-change{width:238px; float: left}
#fc-change a { font-size:13px; color:#8B8B8B; font-weight:bold; text-decoration:none; }
#fc-change a:hover { text-decoration:none; color:#FF2033}
.t p{ display: none}


/*Xtreme*/
#idRegisterFC td { padding:0px 4px 4px 0px }

.os_frete { color:#333; font-size:13px; padding-top:18px; border-top:1px solid #e2e2e2; width:850px; margin-left:50px }
.os_frete img{display: block}
.os_pagamento { width:920px; margin-left:20px; padding:12px 0; clear:both; float:none}
.os_pagamento .p1 { float: left; width:530px}
.os_pagamento .p2 { float:right; width:330px}



.InputText, .smSelect { padding:2px; border-left:none; border-top:none; border-right:1px solid #F2F2F2; border-bottom:1px solid #F2F2F2; background:#fff url(../images/layout/bgForm.gif) repeat-x; }

/* ToolTip */
.tip-yellow {z-index:1000;text-align:left;border:1px solid #939393;padding:7px;min-width:50px;max-width:530px;color:#8c3901;background-color:#fef9d9;background-image:url(../images/tipYellow.png);}
.tip-yellow .tip-inner {font:bold 13px/18px 'trebuchet ms',arial,helvetica,sans-serif;margin-top:-2px;padding:0 3px 1px 3px;}
.tip-yellow .tip-arrow-top {margin-top:-7px;margin-left:15px;top:0;left:0;width:16px;height:10px;background:url(../images/tipYArrows.png) no-repeat;}
.tip-yellow .tip-arrow-right {margin-top:-9px;margin-left:-4px;top:50%;left:100%;width:10px;height:20px;background:url(tipYArrows.png) no-repeat -16px 0;}
.tip-yellow .tip-arrow-bottom {margin-top:-6px;margin-left:15px;top:100%;left:0;width:16px;height:13px;background:url(../images/tipYArrows.png) no-repeat -32px 0;}
.tip-yellow .tip-arrow-left {margin-top:-9px;margin-left:-6px;top:50%;left:0;width:10px;height:20px;background:url(../images/tipYArrows.png) no-repeat -48px 0;}
.fc-Tooltip-Tit1 b{color:#8b8b8b;font-size:14px;font-weight:bold;}
.fc-Tooltip-Tit a{color:#8b8b8b;font-size:14px;font-weight:bold;text-decoration:none;}
.fc-Tooltip-Tit a:hover{color:#8b8b8b;font-size:14px;font-weight:bold;text-decoration:underline;}
.fc-Tooltip-Desc1 span{color:#909090;font-size:13px;}
.fc-Tooltip-Desc a{color:#909090;font-size:13px;text-decoration:none;}
.fc-Tooltip-Desc a:hover{color:#909090;font-size:13px;text-decoration:underline;}
#Topo-Tooltip7{color:#FF283A}
#Topo-Tooltip8{color:#FF283A}
.fc-Tooltip-Login{color:#8b8b8b;font-size:13px;text-decoration:none;font-weight:bold}
.fc-Tooltip-Login a{color:#FF283A;font-size:13px;text-decoration:none;font-weight:bold}
.fc-Tooltip-Login a:hover{color:#FF283A;font-size:13px;text-decoration:underline;font-weight:bold}
.fc-Tooltip-LoginA a{color:#8b8b8b;font-size:13px;text-decoration:none;font-weight:bold}
.fc-Tooltip-LoginA a:hover{color:#8b8b8b;font-size:13px;text-decoration:none;font-weight:bold}
.fc-Tooltip-LoginNC{color:#FF283A;font-size:13px;text-decoration:none;font-weight:bold}
.zFBarraTopoLogin{width:auto;height:auto;position:absolute;top:53px;left:225px;}